.first-txt { 
    position: absolute; 
    top: 17px; 
    left: 50px; }
.second-txt { 
        position: absolute; 
        bottom: 20px; 
        left: 10px; 
    } 
.container{
    background-color: black;
    padding: 20px auto;
}
.Footer{
    Color:white;
    margin-left: 40%
    ;
}
.text{
    margin-left: 25px;
}